@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  color: #000;
  border: inset crimson 5px;
}

.money{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 20px;
}

main{
  margin-top: 30px;
}

.bag{
  width: 100%;
  display: flex;
  justify-content: end;

  font-size: 40px;

  cursor: pointer;
}

.itens{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
}

.details-itens{
  height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img{
  border-radius: 8px;
  
  height: 100%;
  width: 40%;
}

.container-quantidade{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.add-rem{
  width: 100%;

  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  cursor: pointer;

  border: double crimson 7px;
  background-color: transparent;

  height: 10vh;
  width: 25%;

  border-radius: 5px;
  font-size: 18px;
}

button:hover{
  border: double rgb(253, 93, 125) 7px;
}
.cash{
  font-size: 30px;
}
